.DS_Store
Class files/wikipediaTester.php
CollegeIphoneApp Abhis/CollegeSocial/CollegeSocial.xcodeproj/project.xcworkspace/
CollegeIphoneApp Abhis/CollegeSocial/CollegeSocial.xcodeproj/xcuserdata/
*.xcuserstate
*.pbxuser